version: '3'

services:
  app1:
    build: . 
    environment:
      - APP_NAME=App1
    ports:
      - "3001:3000"

  app2:
    build: .
    environment:
      - APP_NAME=App2
    ports:
      - "3002:3000"
      
  app3:
    build: .
    environment:
      - APP_NAME=app3
    ports:
      - "3000:3000"